.MainUpNew {
	width: 100%;
    background: url(../images/background-menu-up.png) 0px 0px no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.MainUpLogin {
	position: relative;
    border:0px solid #333;
	width:1200px;
    height:57px;
    margin:0 auto;
}


.MainUpLogin ul li {
    float:left;
    height: 57px;

}

.MainUpLogin ul {
    padding-left:0px;
}

.MainUpLogin ul li a{
    margin-top:0px;
    font-weight:100;
    border-right:0px solid #adadad;
    display:block;
    color:#fff;
    text-decoration:none;
    line-height:20px;
    font-size:30px;
    padding:16px 20px 21px 20px;
}

.ContentLogin {
	top: 10px;
	position: relative;
	border:0px solid #333;
	width:1200px;
    height:57px;
    margin:0 auto;
}

.ContentLogin ul li {
	float : left;
	width : 345px;
}

.ContentLogin ul li label {
	float: left;
	color: white;
}

.ContentLogin ul li input {
	float: right;
	width: 250px;
}

.ContentLogin .SubmitButton {
	width: 345px;
}

.ContentLogin ul li a{
	float: right;
	color: white;
}

.ContentLogin ul li a:hover {
	color: grey;
}
