	* {
	 margin: 0;
	 padding: 0;
	}
	 
	body {
	 width: 100%;
	 height: 100%;
	 color:#333;
	 background: #fff;
	 font-family: "Segoe UI", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	 line-height:135%;
	 
	}
	 
	aside, nav, footer, header, section { display: block; }
	 
	ul {
	 list-style:none;
	}
	 
	a {
	 text-decoration:none;
	}
	 
	a:hover {
	 text-decoration: none;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	    -webkit-appearance: none;
	}
	input[type='date'] {
	    -moz-appearance: textfield;
	}

	/* -------------------------------
	Главные блоки
	----------------------------------*/
	 
	#wrapper {
	 width:100%;
	 background: url(../images/background-menu.png) 0px 0px no-repeat;
	 -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
	 height:500px;
	 z-index: 4;
	 }
	 
	.header{
	 width:100%;
	 height:286px;
	 z-index: 4;
	 }
	 
	 #MainHeader {
	 background: url(../images/line.png) 0px 0px no-repeat;
	 -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
	 }

	#headerInner {
	 position: relative;
	 border:0px solid #333;
	 width:80%;
	 height:225px;
	 margin:0 auto;
	 margin-top:0px;
	}

	#middle {
	 margin-top: 100px;
     width: 100%;
	 content: '.';
	 display: block;
	 clear: both;
	 height: 100;
	}

	#MainUp {
	 width: 100%;
	 background: url(../images/background-menu-up.png) 0px 0px no-repeat;
	 -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     }

	.MainUpMenu {
	 position: relative;
	 border:0px solid #333;
	 width:60%;
	 height:57px;
	 margin:0 auto;
	 }
	 
	.MainUpMenu ul li {
	 float:left;
	 height: 57px;

	 }
	 
	.MainUpMenu ul {
	 padding-left:0px;
	 }
	 
	.MainUpMenu ul li a{
	 margin-top:0px;
	 font-weight:100;
	 border-right:0px solid #adadad;
	 display:block;
	 color:#fff;
	 text-decoration:none;
	 line-height:20px;
	 font-size:30px;
	 padding:16px 20px 21px 20px;
	 }
	 
	.MainUpMenu ul li a:hover{
	 background: #fff;
	 color:#555;
	 }


	/*----------------------------
	 Логотип
	------------------------------*/
	 
	.logo {
     height: 20px;
	 position:absolute;
	 right:0px;
	 top:0px;
	 }

	 /* Главное меню */
 
	#MainMenu {
	 position:relative;
	 border:0px solid #333;
	 height:57px;
	 margin:0 auto;
	 margin-top:0px;
	 }
	 
	#MainMenu ul li {
	 float:right;
	 height: 57px;
	 }
	 
	#MainMenu ul {
	 padding-left:0px;
	 }
	 
	#MainMenu ul li a{
	 margin-top:0px;
	 font-weight:100;
	 border-right:0px solid #adadad;
	 display:block;
	 color:#000;
	 text-decoration:none;
	 line-height:20px;
	 font-size:18px;
	 padding:16px 20px 21px 20px;
	 }
	 
	#MainMenu ul li a:hover{
	 background: #fff;
	 color:#555;
	 }
    
	#middle #MidUpper ul li {
	 position:relative;
     width: 60%;
	 border:0px solid #333;
	 height:57px;
	 margin:0 auto;
	 margin-top:0px;
	 }

	#middle #MidUpper ul li a input {
     width: 60%;
	 position:relative;
	 border:0px solid #333;
	 width:30%;
	 height:80%;
	 margin:0 auto;
	 margin-left: 20px;
	 margin-top:0px;
	 }

	.DateReturn {
	 visibility: hidden;
	}
    
    #middle #MidDowner ul li {
     width: 60%;
    }

	#middle #MidDowner ul li input {
		display: none;
	}
    
	#middle #MidDowner ul li label {
	 width: 19.34%; height: 30px; background: blue;
	 color: white;
	 text-align: center;
	 vertical-align: center;
	 display: inline-block;
	 position:relative;
	 border:0px solid #333;
	 margin:0 auto;
	 margin-left: 20px;
	 margin-top:0px;
	}
    
    #middle #MidDowner ul li button {
     display:none;
    }


	#middle #MidDowner ul li #tuda:checked ~ .LabTuda {
     background: white;
     color: blue;
	}

	#middle #MidDowner ul li #obratno:checked ~ .LabObratno {
     background: white;
     color: blue;
	}

	#middle #MidDowner ul li {
	 position:relative;
	 border:0px solid #333;
	 height:57px;
	 margin:0 auto;
	 margin-top:0px;
	}

	#middle #MidDowner ul li .ButtonFind {
	 background: blue; 
	 color:#fff;
	}

	#middle #MidDowner ul li .ButtonFind:hover {
	 background: #fff;
	 color:#555;
	}
